﻿@page "/errorDisplay"
@using Wordlez.Data
@inject ErrorDisplayService ErrorService

<h3>Error Display</h3>

<p class="alert-danger">
    @errorMessage
    @if(errorDetails.Count > 0){
        <ul class="list-group">
            @foreach (var item in errorDetails)
            {
                <li class="list-group-item-danger">@item</li>  
            }
        </ul>
    }
</p>
<a href="@backPageDestination">Back</a>
<a href="@abortPageDestination">Abort</a>

    @code {
    public string errorMessage = "";
    public List<string> errorDetails;
    public string backPageDestination = "";
    public string abortPageDestination = "";

    protected override void OnInitialized()
    {
        errorMessage = ErrorService.ErrorMesage;
        errorDetails = new List<string>(ErrorService.ErrorMessageDetails);
        backPageDestination = ErrorService.CallerPage;
        abortPageDestination = ErrorService.DestinationPage;
        ErrorService.CleraData();
    }
}