﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to, Wordlez!</h1>

<p>
    Welcome my app! It'll help you with learning new words and memorising already known.
</p>

<div class="fixed-bottom">
    <footer class="text-center text-lg-start bg-light text-muted">
        <div class="text-center p-4">
            Made by slawmalcz
        </div>
    </footer>
</div>



