﻿@page "/multipleChoiceTest"

@using Wordlez.Data
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMultipleChoiceTestService MultipleChoiceTestService

<PageTitle>Multiple Choice Test</PageTitle>

<div class="row">
    <div class="col">
        <div class="align-content-center">
            Test question: @testData.TranslationData.OrginalWord
        </div>
    </div>
    
</div>
<div class="btn-group">
    @foreach (var answer in testData.PossibleAnswers)
    {
        <button class="btn btn-primary" @onclick="() => DisplayTest(testData.CheckAnswer(answer))">@answer</button>
    }
</div>

<div>@message</div>


@code {
    private Wordlez.Data.MultipleChoiceTest? testData;
    private string message = "";

    private AuthenticationState authState;
    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        testData = await MultipleChoiceTestService.GenerateTest(4);
    }

    public void DisplayTest(bool resoult)
    {
        

        if (user?.Identity.IsAuthenticated ?? false)
        {
            //User is not authenticated
            
        }
        else
        {
            //User is not authenticated
            if (resoult)
                message = "Congratulation! Tour answer is correct";
            else
                message = $"Sorry your answer was incorret. Coresct answer was {testData.TranslationData.TranslatedWord}";
        }
    }
}
