﻿@page "/translationDataIndex/{id}"

@using Wordlez.Data
@inject ITranslationDataService TranslationDataService
@inject ILanguagesService LenguagesService


<div class="row">
    <h3 class="col-11">Translation Data Details</h3>
    <a class="col-1 btn btn-primary" href=@($"translationDataEdit/{Id}")>Edit</a>
</div>
<hr />
<div class="table">
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @translationData.Id
        </dd>
        <dt class="col-sm-2">
            OrginalWord
        </dt>
        <dd class="col-sm-10">
            @translationData.OrginalWord
        </dd>
        <dt class="col-sm-2">
            TranslatedWord
        </dt>
        <dd class="col-sm-10">
            @translationData.TranslatedWord
        </dd>
        <dt class="col-sm-2">
            OrginalLanguage
        </dt>
        <dd class="col-sm-10">
            @LenguagesService.GetLanguage(translationData.OrginalLanguage).GetDisplay()
        </dd>
        <dt class="col-sm-2">
            TranslatedLanguage
        </dt>
        <dd class="col-sm-10">
            @LenguagesService.GetLanguage(translationData.TranslatedLanguage).GetDisplay()
        </dd>
    </dl>
</div>
<hr/>
<div>
    <a class="btn btn-secondary" href="translationDataIndex">Back to List</a>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    private TranslationData translationData;

    protected override async Task OnInitializedAsync()
    {
        translationData = await TranslationDataService.GetTranslationDataAsync(int.Parse(Id));
    }
}
