﻿@page "/translationDataCreate"
@using Wordlez.Data
@using Microsoft.Extensions.Logging

@inject NavigationManager NavManager
@inject ErrorDisplayService ErrorDisplay

@inject ITranslationDataService TranslationDataService
@inject ILanguagesService LenguagesService

<h3>Translation Create</h3>

<EditForm Model="@createdTranslationData">
    <div>
        <div class="row">
            <label class="col-2 form-label">Orginal Word</label>
            <InputText id="orginalWord" class="col-10 form-text" name="orginalWord" @bind-Value="createdTranslationData.OrginalWord" />
        </div>
        <div class="row">
            <label class="col-2 form-label">Translated Word</label>
            <InputText id="translatedWord" class="col-10 form-text" name="translatedWord" @bind-Value="createdTranslationData.TranslatedWord" />
        </div>
        <div class="row">
            <label class="col-2 form-label">Orginal Language</label>
            <InputSelect id="orginalLanguage" class="col-10" name="orginalLanguage" @bind-Value="createdTranslationData.OrginalLanguage">
                @if (possibleLanguageOptions.Count() == 0)
                {
                    <option value="-1">None</option>
                }
                else
                {
                    @foreach (var element in possibleLanguageOptions)
                    {
                        <option value=@element.Id>@element.GetDisplay()</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="row">
            <label class="col-2 form-label">Translated Language</label>
            <InputSelect id="translatedLanguage" class="col-10" name="translatedLanguage" @bind-Value="createdTranslationData.TranslatedLanguage">
                @if (possibleLanguageOptions.Count() == 0)
                {
                    <option value="-1">None</option>
                }
                else
                {
                    @foreach (var element in possibleLanguageOptions)
                    {
                        <option value=@element.Id>@element.GetDisplay()</option>
                    }
                }
            </InputSelect>
        </div>

        <button class="btn btn-primary" @onclick="() => HandleSubmint()">Confirm</button>
    </div>
</EditForm>

<div>
    <a class="btn btn-secondary" href="translationDataIndex">Back to List</a>
</div>

@code {
    private TranslationData createdTranslationData = new TranslationData()
        {
            OrginalLanguage = 1,
            TranslatedLanguage = 2
        };

    private IEnumerable<Language> possibleLanguageOptions;

    protected override void OnInitialized(){
        possibleLanguageOptions = LenguagesService.GetLanguages();
    }

    public void HandleSubmint(){
        string errorMessage = "There were erros during processing Adding Translation Data request :";
        List<string> errorDetails = new List<string>();
        bool errorFlag = false;

        //Empty data errors
        if (createdTranslationData.OrginalLanguage < 0)
        {
            errorDetails.Add("Oryginal Language field can't be empty");
            errorFlag = true;
        }
        if (createdTranslationData.TranslatedLanguage < 0)
        {
            errorDetails.Add("Translated Language field can't be empty");
            errorFlag = true;
        }
        //Duplicated fields errors
        if(createdTranslationData.OrginalLanguage == createdTranslationData.TranslatedLanguage){
            errorDetails.Add("Original Language field can't be same as Translated Language field");
            errorFlag = true;
        }
        //Duplicated records errors
        if (TranslationDataService.GetTranslationDatas().Any(x =>
            x.OrginalWord == createdTranslationData.OrginalWord &&
            x.OrginalLanguage == createdTranslationData.OrginalLanguage && 
            x.TranslatedLanguage == createdTranslationData.TranslatedLanguage)){
            errorDetails.Add("Field with given data already exist in database");
            errorFlag = true;
        }

        if(errorFlag){
            ErrorDisplay.CallerPage = "/translationDataCreate";
            ErrorDisplay.ErrorMesage = errorMessage;
            ErrorDisplay.ErrorMessageDetails = errorDetails.ToArray();
            ErrorDisplay.DestinationPage = "/translationDataIndex";
            NavManager.NavigateTo("/errorDisplay");
        }else{
            TranslationDataService.AddNewTranslationData(createdTranslationData);
            NavManager.NavigateTo("/translationDataIndex");
        }
    }
}
