﻿@page "/translationDataDelete/{id}"
@using Wordlez.Data

@inject ITranslationDataService TranslationDataService
@inject ILanguagesService LenguagesService

@inject ErrorDisplayService ErrorDisplay
@inject NavigationManager NavManager

<h3>Translation Delete</h3>

<h3>Are you sure you want to delete this?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            OrginalWord
        </dt>
        <dd class="col-sm-10">
            @translationData.OrginalWord
        </dd>
        <dt class="col-sm-2">
            TranslatedWord
        </dt>
        <dd class="col-sm-10">
            @translationData.TranslatedWord
        </dd>
        <dt class="col-sm-2">
            OrginalLanguage
        </dt>
        <dd class="col-sm-10">
            @LenguagesService.GetLanguage(translationData.OrginalLanguage).GetDisplay()
        </dd>
        <dt class="col-sm-2">
            TranslatedLanguage
        </dt>
        <dd class="col-sm-10">
            @LenguagesService.GetLanguage(translationData.TranslatedLanguage).GetDisplay()
        </dd>
    </dl>
    <button class="btn btn-danger" @onclick="() => DeletTranslationData()">Delete</button>
</div>

<div>
    <a class="btn btn-secondary" href="translationDataIndex">Back to List</a>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    private TranslationData translationData;

    protected override async Task OnInitializedAsync()
    {
        translationData = await TranslationDataService.GetTranslationDataAsync(int.Parse(Id));
    }

    public void DeletTranslationData(){
        string errorMessage = "There were erros during processing Delete Translation Data request :";
        List<string> errorDetails = new List<string>();
        bool errorFlag = false;

        //Non exisiting record errors
        if (TranslationDataService.GetTranslationData(int.Parse(Id)) is null)
        {
            errorDetails.Add($"Recog with given Id : {Id} not exist");
            errorFlag = true;
        }

        if (errorFlag)
        {
            ErrorDisplay.CallerPage = $"/translationDataDelete/{Id}";
            ErrorDisplay.ErrorMesage = errorMessage;
            ErrorDisplay.ErrorMessageDetails = errorDetails.ToArray();
            ErrorDisplay.DestinationPage = "/translationDataIndex";
            NavManager.NavigateTo("/errorDisplay");
        }
        else
        {
            TranslationDataService.DeleteTranslationData(int.Parse(Id));
            NavManager.NavigateTo("/translationDataIndex");
        }
    }
}
