﻿@page "/translationDataEdit/{id}"

@using Wordlez.Data
@inject NavigationManager NavManager
@inject ErrorDisplayService ErrorDisplay

@inject ITranslationDataService TranslationDataService
@inject ILanguagesService LenguagesService

<h3>Translation Edit</h3>

<EditForm Model="@editedTranslationData">
    <div>
        <div class="row">
            <label class="col-2 form-label">Orginal Word</label>
            <InputText id="orginalWord" class="col-10 form-text" name="orginalWord" @bind-Value="editedTranslationData.OrginalWord" />
        </div>
        <div class="row">
            <label class="col-2 form-label">Translated Word</label>
            <InputText id="translatedWord" class="col-10 form-text" name="translatedWord" @bind-Value="editedTranslationData.TranslatedWord" />
        </div>
        <div class="row">
            <label class="col-2 form-label">Orginal Language</label>
            <InputSelect id="orginalLanguage" class="col-10" name="orginalLanguage" @bind-Value="editedTranslationData.OrginalLanguage">
                @if (possibleLanguageOptions.Count() == 0)
                {
                    <option value="-1">None</option>
                }
                else
                {
                    @foreach (var element in possibleLanguageOptions)
                    {
                        <option value=@element.Id>@element.GetDisplay()</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="row">
            <label class="col-2 form-label">Translated Language</label>
            <InputSelect id="translatedLanguage" class="col-10" name="translatedLanguage" @bind-Value="editedTranslationData.TranslatedLanguage">
                @if (possibleLanguageOptions.Count() == 0)
                {
                    <option value="-1">None</option>
                }
                else
                {
                    @foreach (var element in possibleLanguageOptions)
                    {
                        <option value=@element.Id>@element.GetDisplay()</option>
                    }
                }
            </InputSelect>
        </div>

        <button class="btn btn-primary" @onclick="() => HandleSubmint()">Confirm</button>
    </div>
</EditForm>

<div>
    <a class="btn btn-secondary" href="translationDataIndex">Back to List</a>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    private TranslationData editedTranslationData;
    private IEnumerable<Language> possibleLanguageOptions;

    protected override void OnInitialized()
    {
        editedTranslationData = TranslationDataService.GetTranslationData(int.Parse(Id));
        possibleLanguageOptions = LenguagesService.GetLanguages();
    }

    public void HandleSubmint()
    {
        string errorMessage = "There were erros during processing Editing Translation Data request :";
        List<string> errorDetails = new List<string>();
        bool errorFlag = false;

        //Empty data errors
        if (editedTranslationData.OrginalLanguage < 0)
        {
            errorDetails.Add("Oryginal Language field can't be empty");
            errorFlag = true;
        }
        if (editedTranslationData.TranslatedLanguage < 0)
        {
            errorDetails.Add("Translated Language field can't be empty");
            errorFlag = true;
        }
        //Duplicated fields errors
        if (editedTranslationData.OrginalLanguage == editedTranslationData.TranslatedLanguage)
        {
            errorDetails.Add("Original Language field can't be same as Translated Language field");
            errorFlag = true;
        }

        if (errorFlag)
        {
            ErrorDisplay.CallerPage = $"/translationDataEdit/{Id}";
            ErrorDisplay.ErrorMesage = errorMessage;
            ErrorDisplay.ErrorMessageDetails = errorDetails.ToArray();
            ErrorDisplay.DestinationPage = $"/translationDataIndex/{Id}";
            NavManager.NavigateTo("/errorDisplay");
        }
        else
        {
            TranslationDataService.UpdateTranslationData(editedTranslationData);
            NavManager.NavigateTo("/translationDataIndex");
        }
    }
}
