﻿@page "/translationDataIndex"

@using Wordlez.Data
@inject ITranslationDataService TranslationDataService
@inject ILanguagesService LenguagesService

<div class="row">
    <h3 class="col-11">Translation Data</h3>
    <a class="col-1 btn btn-primary" href="translationDataCreate">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Orginal Word
            </th>
            <th>
                Translated Word
            </th>
            <th>
                Orginal Language
            </th>
            <th>
                Translated Language
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody class="tab-content">
        @foreach (var translation in translationDatas)
        {
            <tr>
                <td class="col-3">
                    @translation.OrginalWord
                </td>
                <td class ="col-3">
                    @translation.TranslatedWord
                </td>
                <td class="col-3">
                    @LenguagesService.GetLanguage(translation.OrginalLanguage).GetDisplay()
                </td >
                <td class="col-3">
                    @LenguagesService.GetLanguage(translation.TranslatedLanguage).GetDisplay()
                </td>
                <td class="btn-group">
                    <a class="btn btn-secondary" href="@($"translationDataIndex/{translation.Id}")">Details</a>
                    <a class="btn btn-secondary" href="@($"translationDataEdit/{translation.Id}")">Edit</a>
                    <a class="btn btn-secondary" href="@($"translationDataDelete/{translation.Id}")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    private IEnumerable<TranslationData> translationDatas;

    protected override async Task OnInitializedAsync()
    {
        translationDatas = await TranslationDataService.GetTranslationDatasAsync();
    }
}
