﻿@page "/accountPrefernecesEdit"

@using System.Security.Claims
@using Wordlez.Data
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject IAccountPreferencesService AccountPreferences
@inject ILanguagesService LenguagesService
@inject ErrorDisplayService ErrorDisplay

<h3>EditAccountPreferences</h3>

<EditForm Model="@preferences">
    <div>
        <div class="row">
            <label class="col-2 form-label">User Name</label>
            <InputText id="userName" class="col-10 form-text" disabled="@IsUserNameDisabled" name="userName" @bind-Value="preferences.UserName" />
        </div>
        <div class="row">
            <label class="col-2 form-label">Orginal Language</label>
            <InputSelect id="oryginalLanguage" class="col-10" name="oryginalLanguage" @bind-Value="preferences.OrginalLanguage">
                @if (possibleLanguageOptions.Count() == 0)
                {
                    <option value="-1">None</option>
                }
                else
                {
                    @foreach (var element in possibleLanguageOptions)
                    {
                        <option value=@element.Id>@element.GetDisplay()</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="row">
            <label class="col-2 form-label">Desired Language</label>
            <InputSelect id="translatedLanguage" class="col-10" name="translatedLanguage" @bind-Value="preferences.DesiredLanguage">
                @if (possibleLanguageOptions.Count() == 0)
                {
                    <option value="-1">None</option>
                }
                else
                {
                    @foreach (var element in possibleLanguageOptions)
                    {
                        <option value=@element.Id>@element.GetDisplay()</option>
                    }
                }
            </InputSelect>
        </div>

        <button class="btn btn-primary" @onclick="() => HandleSubmint()">Save Changes</button>
    </div>
</EditForm>

@code {
    private AccountPreferences preferences = new AccountPreferences() {
            UserName = "",
            OrginalLanguage = 0,
            DesiredLanguage = 1
        };
    private IEnumerable<Language> possibleLanguageOptions;
    private AuthenticationState authState;
    private ClaimsPrincipal user;

    private bool IsUserNameDisabled { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        possibleLanguageOptions = LenguagesService.GetLanguages();

        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var userData = AccountPreferences.GetAccountPreferences(user.Identity.Name);
        if(userData is null){
            preferences.UserName = user.Identity.Name;
            AccountPreferences.AddNewAccountPreferences(preferences);
        }else{
            preferences = userData;
        }

    }

    public void HandleSubmint()
    {
        string errorMessage = "There were erros during processing Editing AccountcPreferences request :";
        List<string> errorDetails = new List<string>();
        bool errorFlag = false;

        //Empty data errors
        if (String.IsNullOrEmpty(preferences.UserName))
        {
            errorDetails.Add("User name field can't be empty");
            errorFlag = true;
        }
        if (preferences.OrginalLanguage < 0)
        {
            errorDetails.Add("Oryginal Language field can't be empty");
            errorFlag = true;
        }
        if (preferences.DesiredLanguage < 0)
        {
            errorDetails.Add("Desired Language field can't be empty");
            errorFlag = true;
        }
        if (preferences.OrginalLanguage == preferences.DesiredLanguage)
        {
            errorDetails.Add("Desired Language and  Oryginal Lenguage can't be this same value");
            errorFlag = true;
        }

        if (errorFlag)
        {
            ErrorDisplay.CallerPage = $"/accountPrefernecesEdit";
            ErrorDisplay.ErrorMesage = errorMessage;
            ErrorDisplay.ErrorMessageDetails = errorDetails.ToArray();
            ErrorDisplay.DestinationPage = $"/accountPrefernecesEdit";
            NavManager.NavigateTo("/errorDisplay");
        }
        else
        {
            AccountPreferences.UpdateAccountPreferences(preferences);
            NavManager.NavigateTo("/accountPrefernecesEdit");
        }
    }
}